.header__logo{
    padding: 0;
    margin: 0;
    padding-bottom: 41px;
    align-self: start;
  
    /*width: 142px;
    height: 33px;*/


}


@media screen and (max-width: 600px) {
    .header__logo {
      width: 103px;
      height: 24px;
      padding-bottom: 31px;
      padding-left: 27px;
    }
    }
  