.header {
  margin: 0;
  padding: 0;
  margin-top: 45px;

  /*width: calc(100% - (200px * 2));*/
  width: calc(900px - 20px);
  box-sizing: border-box;

  align-self: center;

  display: flex;
  flex-direction: row;
  justify-content: left;
  flex-wrap: wrap;
}

@media screen and (max-width: 920px) {
  .header {
    /*width: calc(100% - (50px * 2));*/
    width: 621px;
  }
}

@media screen and (max-width: 621px) {
  .header {
    width: 322px;
  }
}
