.element__group {
  margin: 0;
  padding: 0;
  padding-bottom: 21px;
  padding-top: 21px;
  padding-left: 21px;
  padding-right: 15px;
  max-width: calc(100% - 21px - 10px);

  border-radius: 0px 0px 10px 10px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
