.popup__closeicon {
  margin: 0;
  padding: 0;
  width: 32px;
  height: 32px;
  background-color:transparent;
  background-image: url(../../../images/CloseIcon.svg);
  background-size: cover;
  position: absolute;
  top: calc((100% - 400px) /2 );
  left: calc((100% + 440px) /2 );
  
  border: none;
  cursor: pointer;
}

.popup__button:hover {
  opacity: 0.5;
}




@media screen and (max-width: 625px) {
  .popup__closeicon {
    width: 20px;
    height: 20px;
    top: calc((100% - 380px) /2 );
    left: calc((100% + 240px) /2 );
  }
}
