.element__like {
  margin: 0;
  padding: 0;
  width: 23px;
  height: 19px;
  background-image: url("../../../images/hears.svg");
  background-size: cover;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.element__like:hover {
  opacity: 0.5;
}
