.popup__input {
  margin: 0;
  padding: 0;
  
  padding-left: 10px;
  width: 100%;
  font-family: "Inter", Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border: none;
  border-bottom-style:solid;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  border-bottom-width: 1px;
}
